@import "./variable";
html {
  font-family: $fontFamily;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
}

.main {
  .space {
    height: 96px;
  }
  // overflow: hidden;
}

.margin-auto {
  margin-left: 70px;
  margin-right: 70px;
}
.padding-auto {
  padding-left: 70px;
  padding-right: 70px;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #99AA92;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

a{
  text-decoration: none;
}