//varibale
$textColor: red;
$colorWhite: #ffffff;
$backgroundColor: #11171CF2;
$colorBlue: rgb(60, 119, 247);
$colorGrey: #939498;
$mainColor: #11171CF2;
$secondColor: #afbeaa;
$thirdColor: #f59139;
$fontFamily: "halyard-display,sans-serif";