.contact {
  background-color: $mainColor;
  &__header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    line-height: 80px;
    &--logo img {
      width: 100px;
    }
    &--menu {
      & > li {
        display: inline-block;
        & > a {
          color: $colorWhite;
          /* display: inline-block; */
          padding: 0 12px;
          text-transform: capitalize;
        }
        & a {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline white;
          text-underline-offset: 6px;
        }
      }
    }
  }
  &__divider {
    width: 100%;
    border-block-start: 1px #333 solid;
  }
  &__container {
    padding-top: 60px;
    color: $colorWhite;
    &--address {
      p {
        max-width: 200px;
      }
    }
    &--info {
      a {
        color: $colorWhite;
        text-decoration: none;
      }
      display: flex;
      flex-direction: column;
      .phone {
        padding-bottom: 4px;
      }
      .email {
        text-decoration: underline white;
        text-underline-offset: 8px;
      }
    }
    &--subscribe {
      text-align: end;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    color: $colorWhite;

    &--copyright {
      line-height: 45px;
    }
    &--icon {
      display: flex;
      .ti-facebook,
      .ti-instagram,
      .ti-twitter,
      .ti-dribbble {
        display: block;
        overflow: hidden;
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        text-align: center;
        border: 0.01px solid #ccc;
        border-radius: 50%;
        margin: 0 4px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .contact {
    &__header {
      display: flex;
      justify-content: space-around;
      padding-top: 50px;
      line-height: 60px;
      flex-wrap: wrap;
      &--menu {
        display: flex;
        padding: 0;
        font-size: 15px;
        & > li > a {
          padding: 0 8px;
        }
      }
      ul {
        margin-bottom: 0;
      }
    }
    &__container {
      padding-top: 0;
      &--address,
      &--info,
      &--subscribe {
        display: flex;
        justify-content: center;
        padding-top: 18px;
      }
      &--address p {
        text-align: center;
      }
      &--info {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      &--subscribe {
        display: flex;
        flex-direction: column;
        text-align: center;
        & p {
          margin-bottom: 0;
          padding-bottom: 4px;
        }
      }
      &--address {
        & p {
          margin-bottom: 0;
        }
        color: #d2d3d5;
      }
    }
    &__footer {
      display: flex;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      flex-direction: column;
      &--icon {
        .ti-facebook,
        .ti-instagram,
        .ti-twitter,
        .ti-dribbble {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
        }
      }
    }
  }
  .padding-auto {
    padding: 0 10px 0 10px;
  }
  .pt-5 {
    padding-top: 0 !important;
  }
}

@media only screen and (max-width: 320px) {
  .contact {
    &__header {
      &--menu {
        font-size: 13px;
        & > li > a {
          padding: 0 4px;
        }
      }
    }
  }
}
