.fashion {
  &__subtitle {
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    .ti-instagram {
      line-height: 20px;
      margin-right: 10px;
    }
  }
  &__title {
    text-align: center;
    padding: 0 90px;
    margin-top: 20px;
    &--text {
      display: inline-block;
      font-size: 80px;
      line-height: 1.2em;
      font-weight: 500;
      & img {
        height: 70px;
        max-width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
  &__space {
    height: 6.3vw;
  }
  &__content {
    overflow: hidden;
    &--image {
      img {
        width: 100%;
      }
      &:hover {
        filter: brightness(80%);
      }
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1023px) {
  .fashion{
    &__subtitle{
      font-size: 13px;
      text-align: center;
    }
    &__title{
      &--text{
        font-size: 54px;
        line-height: 1.2em;
        & img {
          height: 50px;
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .fashion{
    &__subtitle{
      text-align: center;
    }
    &__title{
      padding: 0;
      &--text{
        font-size: 32px;
        line-height: 1.2em;
        & img {
          height: 32px;
          max-width: 100%;
        }
      }
    }
    &__content{
      &--image{
        padding-bottom: 20px;
      }
    }
  }
}