@import "../base/mixin";

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: transparent;
  //   background-color: $backgroundColor;
  &__navbar {
    display: flex; /* Use flexbox to align items horizontally */
    line-height: 80px;
    justify-content: space-between;

    .navbar {
      &__logo {
        padding-left: 60px;
        cursor: pointer;
      }
      &__logo img {
        width: 100px;
      }
    }
  }

  .navbar__menu {
    position: relative;
    & > li {
      display: inline-block;
      // line-height: 80px;

      & > a {
        color: #fff;
        display: inline-block;
        padding: 0 12px;
        text-transform: capitalize;
        font-weight: 500;
        // line-height: 80px;
        &.active {
          color: $thirdColor;
          text-decoration: underline $thirdColor;
          text-underline-offset: 6px;
        }
      }
      & a {
        text-decoration: none;
      }
      &:hover .menu__submenu {
        display: block;
      }
      & > a:hover {
        color: $thirdColor;
        text-decoration: underline $thirdColor;
        text-underline-offset: 6px;
      }
    }
    .menu__submenu {
      display: none;
      position: absolute;
      padding: 8px 16px;
      line-height: 38px;
      background-color: $mainColor;
      z-index: 1;
      width: 220px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      & li:hover {
        display: block;
        transform: translateX(6px);
        &::after {
          content: "";
          position: absolute;
          left: 6px;
          bottom: 2px;
          width: 60%;
          border-bottom: 1px solid white;
        }
      }
      & li {
        list-style-type: none;
      }
      & a {
        color: $colorWhite;
        text-transform: capitalize;
        padding: 0 6px;
        transition: transform 0.3s ease;

        &:hover {
          color: $colorWhite;
        }
      }
    }
  }

  .navbar__icon {
    display: flex;
    padding-right: 40px;
    .search-icon,
    .more-icon,
    .cart-icon,
    .close-icon,
    .list-icon {
      padding: 0 20px;
      font-size: 20px;
      color: $colorWhite;
      &:hover {
        cursor: pointer;
      }
    }
    .list-icon {
      display: none;
    }
  }
}

.mobile__tablet {
  display: none;
}
.scroll {
  background-color: $mainColor;
}
.slider {
  .swiper {
    width: 100%;
    height: 100vh;
    &-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
      overflow: hidden;
      & img {
        width: 100%;
        // height: auto;
        height: 100vh;
        object-fit: cover;
        transition: transform 1.5s ease-in-out;
      }
      &-active img {
        transform: scale(1.1);
      }
    }

    &-button {
      &-next,
      &-prev {
        color: $colorWhite;
        padding: 0 80px;
      }
    }
  }
  &__img {
    position: relative;
    &--text {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 110px;
      text-transform: uppercase;
      line-height: 110px;
    }
    &--scroll {
      position: absolute;
      color: white;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      .scroll {
        &__icon--border {
          .ti-angle-down {
            border-radius: 50%;
            border: 0.1px solid white;
            padding: 4px;
          }
        }
      }
    }
  }
}

.navbar__right {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #11171c;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  // padding: 30px 0 0 50px;
  z-index: 1000;
  &--container {
    padding: 30px 0 0 50px;
    position: relative;
    & .logo img {
      width: 100px;
    }
    & .social__contact {
      padding-top: 200px;
      &--facebook,
      &--twitter,
      &--dribbble,
      &--instagram {
        padding-top: 24px;
        & span {
          padding-left: 10px;
        }
      }
    }
    & .close {
      color: $colorWhite;
      position: absolute;
      top: 25px;
      right: 50px;
      border-radius: 50%;
      padding: 10px 14px;
      background: #333;
      transition: transform 0.6s ease-in-out;
      &:hover {
        transform: rotate(180deg);
        cursor: pointer;
      }
    }
    & .footer {
      padding-top: 200px;
      &__divider {
        width: 86%;
        border-block-start: 1px #333 solid;
      }
      &__contact {
        & .phone {
          font-size: 24px;
        }
        & .email {
          font-size: 17px;
        }
        display: flex;
        padding-top: 20px;
        flex-direction: column;
      }
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 1023px) {
  .header {
    position: fixed;
    &__navbar {
      .navbar {
        &__menu {
          display: flex;
          position: absolute;
          top: 100%;
          height: 1000vh;
          left: 0;
          background-color: $mainColor;
          width: 100%;
          line-height: 44px;
          padding: 0 50px;
          z-index: 999;
          transform: translateY(-120%);
          transition: transform 1s ease-out, opacity 1s ease-out;
          flex-direction: column;
          line-height: 60px;

          & .ti-arrow-right {
            padding-left: 20px;
            padding-top: 1px;
          }
          &.show-submenu {
            display: flex;
            flex-direction: column;
            transform: translateY(0);
          }
          & > li:hover .menu__submenu {
            // display: none;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
          }

          & li a {
            line-height: 30px;
          }
        }
        &__icon {
          .more-btn {
            display: none;
          }
          .list-icon {
            display: inline;
          }
          .close-btn {
            display: none;
          }
        }
      }
    }
    .navbar__menu > li {
      max-width: 300px;
    }
  }
  .header {
    display: none;
  }

  .mobile__tablet {
    display: block;
    // height: 500px;
  }

  .slider {
    .swiper {
      &-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          min-height: 100vh; /* Chiều cao bằng chiều cao viewport */
          object-fit: cover;
        }
      }
      &-button {
        &-next,
        &-prev {
          display: none;
        }
      }
    }
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 768px) {
  .header {
    position: fixed;
    &__navbar {
      .navbar {
        &__logo {
          padding-left: 20px;
        }
        &__menu {
          display: flex;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $mainColor; /* Replace $mainColor with your main color variable */
          width: 100%; /* Adjust as needed */
          padding: 10px;
          z-index: 999;
          transform: translateY(-120%);
          transition: transform 1s ease-out, opacity 1s ease-out;
          flex-direction: column;
          height: 100vh; /* Adjusted height */
          overflow-y: auto; /* Added overflow */

          &.show-submenu {
            display: flex;
            flex-direction: column;
            transform: translateY(0);
          }
          & > li:hover .menu__submenu {
            // display: none;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }
    }
    .navbar__icon {
      padding-right: 20px;
      .search-icon,
      .more-icon,
      .cart-icon,
      .close-icon,
      .list-icon {
        padding: 0 10px;
      }

      .close-btn {
        transition: transform 0.5s ease-out;
        :hover {
          transform: rotate(360deg);
        }
      }
    }
  }
  .slider {
    .swiper {
      &-slide {
        & img {
          // width: 400%;
          height: 100vh; /* Chiều cao bằng chiều cao viewport */
          object-fit: cover;
        }
      }
      &-button {
        &-next,
        &-prev {
          display: none;
        }
      }
    }
    &__img {
      &--text {
        font-size: 64px;
        line-height: 64px;
      }
    }
  }
}

@media only screen and (max-width: 321px) {
  .slider {
    &__img {
      &--text {
        font-size: 50px;
        line-height: 50px;
        min-width: 286px;
      }
    }
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate360 0.5s ease-out; /* Định nghĩa thời gian và kiểu animation */
}
