.product {
  &:hover {
    cursor: pointer;
  }
  &__content {
    &--subtitle {
      letter-spacing: 1.8px;
      text-transform: uppercase;
      font-size: 14px;
    }
    &--title {
      font-size: 3.353em;
      line-height: 1em;
      font-weight: 500;
    }
  }
  &__info {
    position: relative;
    margin-bottom: 24px;
    &--image {
      position: relative;
      img {
        width: 100%;
      }
      .onsale {
        position: absolute;
        top: 23px;
        left: 23px;
        color: $colorWhite;
        background: #afbea9;
        padding: 0 15px;
        font-size: 11px;
        font-weight: 500;
        height: 25px;
        line-height: 24px;
      }
      .wishlist {
        position: absolute;
        top: 23px;
        right: 23px;
        background-color: $colorWhite;
        color: $backgroundColor;
        font-size: 15px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
      .stock {
        position: absolute;
        top: 23px;
        left: 23px;
        color: $colorWhite;
        background: #222733;
        padding: 0 15px;
        font-size: 11px;
        font-weight: 500;
        height: 25px;
        line-height: 24px;
      }
      &:hover {
        filter: brightness(90%);
      }
      &:hover .info__bottom {
        opacity: 1;
      }
      .info__bottom {
        display: flex;
        opacity: 0;
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        flex-direction: row;
        align-items: center;
        height: 52px;
        flex-wrap: wrap;
        background: #f6f9f9;
        justify-content: space-evenly;

        &--quick-view {
          &:hover {
            opacity: 0.7;
          }
        }
        &--add-cart {
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    &--name {
      margin-top: 18px;
      font-size: 19px;
      line-height: 1.3em;
      font-weight: 500;
    }
    &--price {
      color: $colorGrey;
      margin-top: 10px;
    }
    &--discount {
      margin-right: 6px;
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 768px) {
  .main {
    .space {
      height: 20px;
    }
  }
  .product {
    &__content {
      &--title {
        font-size: 26px;
      }
    }
  }
}
